{# @OrthoBundle/Resources/views/Default/crea_cabinet.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

    <form id="msform" action="{{ path('crea_cabinet') }}" method="post">

        {% if app.user %}
            <!-- user is logged in -->

            <!-- Barre de progression
            <ul id="progressbar">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
            -->
            {{ form_start(form) }}

            <fieldset class="largebloc">
                <h2 class="fs-title">Ajouter un Cabinet</h2>
                <h3 class="fs-subtitle">Tous les champs sont obligatoires.</h3>

                <div id="container">
                    <div class="profileplace">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}

                        {{ form_label(form.plain_password) }}
                        {{ form_errors(form.plain_password) }}
                        {{ form_widget(form.plain_password) }}

                        {{ form_label(form.nom) }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom) }}

                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="profileplace">
                        {{ form_label(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                        {{ form_widget(form.adresse) }}

                        {{ form_label(form.codepostal) }}
                        {{ form_errors(form.codepostal) }}
                        {{ form_widget(form.codepostal) }}

                        {{ form_label(form.ville) }}
                        {{ form_errors(form.ville) }}
                        {{ form_widget(form.ville) }}

                        {{ form_label(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                    </div>
                </div>


                <input type="submit" name="previous" class="action-button" value="ENVOYER"/>

            </fieldset>
            {{ form_end(form) }}
        {% else %}
            <!-- User is not logged in -->
            <fieldset class="smallbloc">
                <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> pour accéder à cette page.
            </fieldset>
        {% endif %}

    </form>

{% endblock %}