{# @OrthoBundle/Resources/views/Default/crea_cabinet.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

    <form id="msform" action="{{ path('crea_cabinet') }}" method="post">

        {% if app.user %}
            <!-- user is logged in -->

            <!-- Barre de progression
            <ul id="progressbar">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
            -->
            {{ form_start(form) }}

            <fieldset class="largebloc">
                <h2 class="fs-title">Ajouter un Cabinet</h2>
                <h3 class="fs-subtitle">Tous les champs sont obligatoires.</h3>

                <div id="container">
                    <div class="profileplace">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}

                        {{ form_label(form.plain_password) }}
                        {{ form_errors(form.plain_password) }}
                        {{ form_widget(form.plain_password) }}

                        {{ form_label(form.nomCab) }}
                        {{ form_errors(form.nomCab) }}
                        {{ form_widget(form.nomCab) }}

                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="profileplace">
                        {{ form_label(form.adresseCab) }}
                        {{ form_errors(form.adresseCab) }}
                        {{ form_widget(form.adresseCab) }}

                        {{ form_label(form.codepostalCab) }}
                        {{ form_errors(form.codepostalCab) }}
                        {{ form_widget(form.codepostalCab) }}

                        {{ form_label(form.villeCab) }}
                        {{ form_errors(form.villeCab) }}
                        {{ form_widget(form.villeCab) }}

                        {{ form_label(form.telephoneCab) }}
                        {{ form_errors(form.telephoneCab) }}
                        {{ form_widget(form.telephoneCab) }}
                    </div>
                </div>


                <input type="submit" name="previous" class="action-button" value="ENVOYER"/>

            </fieldset>
            {{ form_end(form) }}
        {% else %}
            <!-- user is not logged in -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>

        {% endif %}

    </form>

{% endblock %}