{# @OrthoBundle/Resources/views/Default/formulaire.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3 xmlns="http://www.w3.org/1999/html">Cabinet du Dr. Simon . 28510 . Chichoville . ID . 5984</h3>
    <form id="formulairecommandes" action="{{ path('ortho_formulaire') }}" method="post">
        {{ form_start(form) }}
        <div id="formupload">
            <div id="formulairecde">
                {{ form_label(form.referencePatient, "Référence du patient :") }}
                {{ form_errors(form.referencePatient) }}
                {{ form_widget(form.referencePatient) }}
                <br />
                <br />

                {{ form_label(form.prenomPatient) }}
                {{ form_errors(form.prenomPatient) }}
                {{ form_widget(form.prenomPatient) }}
                <br/>
                <br/>

                {{ form_label(form.dateretour, "Date de retour souhaitée :") }}
                {{ form_errors(form.dateretour) }}
                {{ form_widget(form.dateretour) }}
                <br>

                {{ form_label(form.appareillages, "Appareillages : ") }}
                {{ form_errors(form.appareillages) }}
                {{ form_widget(form.appareillages) }}

                <div id="appCommentInter"></div>

                <div>
                    <button type="button" data-toggle="modal" data-target="#myModal">Bibliothèque</button>
                </div>
                <br>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="input-group">
                                    <input type="text" placeholder="rechercher par mot clé" name="s"
                                           class="form-control left-rounded">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-inverse">Rechercher</button>
                                    </div>
                                </div>

                                <h4 class="modal-title" id="myModalLabel">Vos appareillages disponibles par famille</h4>
                                <h6>Liste non exhaustive, contactez votre laboratoire</h6>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Mobile</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Fixe</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Fonctionnels</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Contention</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Service 3D</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Moulages</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Elastodontie</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Pédodontie</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Collage Indirect</a><br /></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal2">Autres</a><br /></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Selectionnez le modèle d'appareil</h4>
                            </div>
                            <div class="modal-body">
                                Sélectionnez votre appareillage : <br/>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            {% for namepictures in nomimageapp %}
                                                <div class="col-xs-6">
                                                    <button><img src="{{ namepictures.imgApp }}" title="Appareillages"
                                                                 alt="Appareillages" id="imageSchemaApp"
                                                                 name="commandes[appareillages]"/>
                                                        {{ namepictures.titreApp }} </button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_label(form.fidAdj, "Adjonctions :") }}
                {{ form_errors(form.fidAdj) }}
                {{ form_widget(form.fidAdj) }}

                {{ form_widget(form.ajoutAdj, { 'label': 'Autres adjonctions' }) }}

                <div id="coulmot">
                    {{ form_label(form.fidCouleur, "Couleur :") }}
                    {{ form_errors(form.fidCouleur) }}
                    {{ form_widget(form.fidCouleur) }}

                    <img id="remplissageCadreCouleur" src="{{ asset('bundles/ortho/img/couleurs/1.png') }}"/>

                    {{ form_label(form.fidMotif, "Motif :") }}
                    {{ form_errors(form.fidMotif) }}
                    {{ form_widget(form.fidMotif) }}

                    <img id="remplissageCadreMotif" src="{{ asset('bundles/ortho/img/motifs/1.png') }}"/>
                    <br/>
                </div>

                {{ form_label(form.comment, "Commentaires :") }}
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
            </div>
            <div id="upload">

                {{ form_label(form.testimage, "Arcade Maxilaire :") }}
                {{ form_errors(form.testimage) }}
                {{ form_widget(form.testimage) }}<br>

                {{ form_label(form.testimage1, "Arcade mandibulaire :") }}
                {{ form_errors(form.testimage1) }}
                {{ form_widget(form.testimage1) }}<br>

                {{ form_label(form.testimage2, "Autre pièces jointes :") }}
                {{ form_errors(form.testimage2) }}
                {{ form_widget(form.testimage2) }}<br>

                {{ form_label(form.comment2, "Autres commentaires :") }}
                {{ form_errors(form.comment2) }}
                {{ form_widget(form.comment2) }}<br>
            </div>
        </div>
        <div id="boutoncde">
            <button class="" type="submit">
                <span class="glyphicon-envelope"></span> &nbsp; ENVOYER
            </button>
        </div>

        <!-- Attribut "render_rest:" false utilisée pour ne pas afficher les champs non utilisés. -->
        {{ form_rest(form)}}
        {{ form_end(form) }}
    </form>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/ortho/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/ortho/js/formulaire.js') }}"></script>

    <script> // Liste des appareillages | Affichage des commentaires dans le cadre
        var tableau = {
        {% for commentaire in commentaireAppareil %}
        {{ commentaire['id'] }} : "{{ commentaire['titreApp'] }} ({{ commentaire['familleApp'] }}) : \n{{ commentaire['commentairesApp'] }}" ,
        {% endfor %}
        }
        var commentAppareil = $('#appCommentInter');
        var checkboxes = $('div#commandes_appareillages input[type=checkbox]');

        checkboxes.on('click', function () {
            if ($(this).prop('checked')) {
                commentAppareil.append('<div class="commentaireClass" id="commentaireEnfant' + $(this).val() + '">' + tableau[$(this).val()] + '</div>');
            }
            else {
                $('#commentaireEnfant' + $(this).val()).remove();
            }

            $('#commandes_comment').html('');

            $('.commentaireClass').each(function () {
                $('#commandes_comment').append($(this).html() + "\n");
            });
        });
    </script>

    <script> // Liste des adjonctions + Affichage des commentaires dans le cadre
        var tableauCommentaireAdjonction = {
        {% for commentaire in commentaireAdjonction %}
        {{ commentaire['id'] }} : "{{ commentaire['titreAdj'] }}({{ commentaire['familleAdj'] }}) : \n{{ commentaire['commentairesAdj'] }}" ,
        {% endfor %}
        }

        var commentAppareil = $('#appCommentInter');
        var checkboxesAdjonctions = $('div#commandes_fidAdj input[type=checkbox]');

        checkboxesAdjonctions.on('click', function(){
            if ($(this).prop('checked')) {
                commentAppareil.append('<div class="commentaireClass" id="commentaireEnfant' + $(this).val() + '">' + tableauCommentaireAdjonction[$(this).val()] + '</div>');
            }
            else {
                $('#commentaireEnfant' + $(this).val()).remove();
            }

            $('#commandes_comment').html('');

            $('.commentaireClass').each(function () {
                $('#commandes_comment').append($(this).html() + "\n");
            });
        })
    </script>
{% endblock %}