{% extends 'base.html.twig' %}

{% block body %}

    <h3 xmlns="http://www.w3.org/1999/html">Cabinet du Dr. Simon . 28510 . Chichoville . ID . 5984</h3>

    <form action="{{ path('ortho_formulaire') }}" method="post">
        {{ form_start(form) }}
        <div id="formupload">
            <div id="formulairecde">
                <label for="referencePatient">
                    Référence du patient :
                </label>
                {{ form_errors(form.referencePatient) }}
                {{ form_widget(form.referencePatient) }}
                <br/>
                <br>

                <label for="fnomPatient">
                    Prénom du patient :
                </label>
                {{ form_errors(form.prenomPatient) }}
                {{ form_widget(form.prenomPatient) }}
                <br/>
                <br/>

                <label for="dateretour">
                    Date de retour souhaitée :
                </label>
                {{ form_errors(form.dateretour) }}
                {{ form_widget(form.dateretour) }}
                <br>


                <label for="fidApp">Appareillages :
                </label>
                <div>
                    <button class="btn" type="button" data-toggle="modal" data-target="#myModal">Bibliothèque</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                        <div class="input-group">
                                            <input type="text" placeholder="rechercher par mot clé" name="s" class="form-control left-rounded">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-inverse">Rechercher</button>
                                            </div>
                                        </div>

                                <h4 class="modal-title" id="myModalLabel">Vos appareillages disponibles par famille</h4>
                                <h6>Liste non exhaustive, contactez votre laboratoire</h6>
                            </div>
                            <div class="modal-body">

                                <ul>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Mobile</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Fixe</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Fonctionnels</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Contention</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Service 3D</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Moulages</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Elastodontie</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Pédodontie</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Collage Indirect</li></a><br />
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Autres</li></a><br />
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Selectionnez le modèle d'appareil</h4>
                            </div>
                            <div class="modal-body">
                                Sélectionnez votre appareillage : <br />
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                    {% for namepictures in nomimageapp %}
                                        <div class="col-xs-6">
                                            <button><img src = "{{ namepictures.imgApp }}" title="Appareillages" alt="Appareillages" id="imageSchemaApp" name="commandes[appareillages]" />
                                            {{ namepictures.titreApp }} </button>
                                        </div>
                             {% endfor %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<label for="fidApp">Appareillages : </label>-->
                {{ form_label(form.appareillages, "Appareillages : ") }}
                {{ form_errors(form.appareillages) }}
                {{ form_widget(form.appareillages) }}

                {{ form_widget(form.ajoutApp, { 'label': 'Bibliothèque' }) }}


                <div id="appCommentInter"></div>

                <label for="fidAdj">Adjonctions :</label>
                {{ form_errors(form.fidAdj) }}
                {{ form_widget(form.fidAdj) }}

                {{ form_widget(form.ajoutAdj) }}

                <div id="coulmot">
                    <label for="nomCouleur">
                        Couleur :
                    </label>
                    {{ form_errors(form.fidCouleur) }}
                    {{ form_widget(form.fidCouleur) }}

                    <img id="remplissageCadreCouleur" src="{{ asset('bundles/ortho/img/couleurs/1.png') }}"/>


                    <label for="nomMotif">
                        Motif :
                    </label>
                    {{ form_errors(form.fidMotif) }}
                    {{ form_widget(form.fidMotif) }}

                    <img id="remplissageCadreMotif" src="{{ asset('bundles/ortho/img/motifs/1.png') }}"/>
                    <br/>
                </div>

                <label for="comment">Commentaires :</label>
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
            </div>
            <div id="upload">
                {#<br/>#}
                <label for="testimage">Arcade maxilaire :</label>
                {{ form_errors(form.testimage) }}
                {{ form_widget(form.testimage) }}

                <label for="testimage1">Arcade mandibulaire :</label>
                {{ form_errors(form.testimage1) }}
                {{ form_widget(form.testimage1) }}

                <label for="testimage2">Autre pièce jointe :</label>
                {{ form_errors(form.testimage2) }}
                {{ form_widget(form.testimage2) }}

                <label for="comment2">Autres commentaires :</label>
                <br/>
                {{ form_errors(form.comment2) }}
                {{ form_widget(form.comment2) }}
            </div>

        </div>

        <div id="boutoncde">
            <button class="btn" type="submit">
                <span class="glyphicon glyphicon-envelope"></span> ENVOYER
            </button>
        </div>

        <!-- Attribut "render_rest:" false utilisée pour ne pas afficher les champs non utilisés. -->
        {{ form_end(form, {'render_rest': false}) }}


        {{ form_end(form) }}

    </form>
{% endblock %}

{% block javascript %}

    <!-- PARTIE SCRIPT -->
    <script src="{{ asset('bundles/ortho/js/bootstrap.min.js') }}"></script>
    <script src="js/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>



    <script>
        var monSelectCouleur = $('#commandes_fidCouleur');
        monSelectCouleur.on('change', function () {
            $('#remplissageCadreCouleur').attr('src', "{{ asset('bundles/ortho/img/couleurs/') }}" + monSelectCouleur.val() + ".png");
        });
    </script>

    <script>
        var monSelectMotif = $('#commandes_fidMotif');
        monSelectMotif.on('change', function () {
            $('#remplissageCadreMotif').attr('src', "{{ asset('bundles/ortho/img/motifs/') }}" + monSelectMotif.val() + ".png");
        })
    </script>


    <script>
        // On déclare un tableau dans lequel on ajoute l'id et le commentaire de chaque appareillage
        var tableau = {
        {% for commentaire in commentaireAppareil %}
        {{ commentaire['id'] }} :
        "{{ commentaire['titreApp'] }} ({{ commentaire['familleApp'] }}) : \n{{ commentaire['commentairesApp'] }}" ,
        {% endfor %}
        }
        ;
        console.log(tableau);

        // TODO : Faire en jQuery un script qui, au clic d'un bouton, récupère l'id du bouton et affiche le commentaire
        // possèdant le même ID.
        var commentAppareil = $('#appCommentInter');
        var checkboxes = $('div#commandes_appareillages input[type=checkbox]');

        checkboxes.on('click', function () {
            if ($(this).prop('checked')) {
                console.log($(this).val());
                commentAppareil.append('<div class="commentaireClass" id="commentaireEnfant' + $(this).val() + '">' + tableau[$(this).val()] + '</div>');
            }
            else {
                $('#commentaireEnfant' + $(this).val()).remove();
            }

            $('#commandes_comment').html('');

            $('.commentaireClass').each(function () {
                $('#commandes_comment').append($(this).html() + "\n");
            });

        });


    </script>
    <!-- FIN PARTIE SCRIPT -->

{% endblock %}