{# @OrthoBundle/Resources/views/Default/formulaire.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3 xmlns="http://www.w3.org/1999/html">
        {{ actualUser[0].nomCab }} -
        {{ actualUser[0].adresseCab }} -
        {{ actualUser[0].codepostalCab }} {{ actualUser[0].villeCab }}
        <!--. N° : {{ actualUser[0].telephoneCab }}-->
    </h3>
    <form id="msform" action="{{ path('ortho_formulaire') }}" method="post">
        <!-- Barre de progression -->
        <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>

        {{ form_start(form) }}
        <!-- Bloc n°1 : Les informations générales du patient -->
        <fieldset class="smallbloc">
            {{ form_label(form.referencePatient, "Référence du patient") }}
            <h2 class="fs-title">Informations du patient</h2>

            {{ form_label(form.referencePatient, "Référence du patient* : ") }}
            {{ form_errors(form.referencePatient) }}
            {{ form_widget(form.referencePatient) }}

            {{ form_label(form.prenomPatient, "Prénom* :") }}
            {{ form_errors(form.prenomPatient) }}
            {{ form_widget(form.prenomPatient) }}

            {{ form_label(form.dateretour, "Date de retour souhaitée* : ") }}
            {{ form_errors(form.dateretour) }}
            {{ form_widget(form.dateretour) }}

            <div id="securite_refPatient">* Ce champ est obligatoire</div>
            <input type="button" name="next" class="next action-button" value="Suivant"/>
        </fieldset>

        <!-- Bloc n°2 : L'aspect technique | Appareillages & Adjonctions -->
        <fieldset class="largebloc">

            <h2 class="fs-title">Appareillages & Adjonctions</h2>
            <h3 class="fs-subtitle">Les choix dentaires à faire pour le patient</h3>

            <div id='blocApp' class='blocAppAdj'>
                {{ form_label(form.appareillages, "Appareillages : ") }}
                {{ form_errors(form.appareillages) }}
                {{ form_widget(form.appareillages) }}

                {{ form_widget(form.ajoutApp, { 'label': 'Bibilothèque Appareillages' }) }}

                <!-- Modal Appareillage -->
                {% include '@Ortho/Default/modalApp.html.twig' %}
            </div>

            <div id='blocAdj' class='blocAppAdj'>
                {{ form_label(form.fidAdj, "Adjonctions : ") }}
                {{ form_errors(form.fidAdj) }}
                {{ form_widget(form.fidAdj) }}

                {{ form_widget(form.ajoutAdj, { 'label': 'Bibliothèque Adjonctions' }) }}

                <!-- Modal Adjonction -->
                {#{% include '@Ortho/Default/...' %}#}
            </div>

            <div id="coulmot">
                {{ form_label(form.fidCouleur, "Couleur : ") }}
                {{ form_errors(form.fidCouleur) }}
                {{ form_widget(form.fidCouleur) }}
                <img id="remplissageCadreCouleur" src="{{ asset('bundles/ortho/img/couleurs/1.png') }}"/>

                {{ form_label(form.fidMotif, "Motif :") }}
                {{ form_errors(form.fidMotif) }}
                {{ form_widget(form.fidMotif) }}
                <img id="remplissageCadreMotif" src="{{ asset('bundles/ortho/img/motifs/1.png') }}"/>
            </div>

            {{ form_label(form.comment, "Commentaires : ") }}
            {{ form_errors(form.comment) }}
            {{ form_widget(form.comment) }}

            <div id="appCommentInter"></div>

            <input type="button" name="previous" class="previous action-button" value="Précédent"/>
            <input type="button" name="next" class="next action-button" value="Suivant"/>
        </fieldset>

        <!-- Bloc n°3 : Les pièces jointes -->
        <fieldset class="smallbloc">
            <h2 class="fs-title">Pièces jointes complémentaires</h2>
            <h3 class="fs-subtitle">Toutes les pièces jointes à apporter à la commande.</h3>

            {{ form_label(form.testimage, "Arcade Maxilaire :") }}
            {{ form_errors(form.testimage) }}
            {{ form_widget(form.testimage) }}
            {#
                        {{{ form_label(form.testimage1, "Arcade mandibulaire :") }}
                        {{ form_errors(form.testimage1) }}
                        {{ form_widget(form.testimage1) }}

                        {{ form_label(form.testimage2, "Autre pièces jointes :") }}
                        {{ form_errors(form.testimage2) }}
                        {{ form_widget(form.testimage2) }}
            #}
            {{ form_label(form.comment2, "Autres commentaires :") }}
            {{ form_errors(form.comment2) }}
            {{ form_widget(form.comment2) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}

            <input type="button" name="previous" class="previous action-button" value="Précédent"/>
            <input type="submit" name="previous" class="action-button" value="ENVOYER"/>
        </fieldset>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        var appareillages = {
            {% for namepictures in nomimageapp %}
            "{{ namepictures.id }}": {
                "title": "{{ namepictures.titreApp }}",
                "img": "{{ namepictures.imgApp }}",
                "family": "{{ namepictures.familleApp }}"
            },
            {% endfor %}
        };
    </script>
    <script src="{{ asset('bundles/ortho/js/calendrierFormulaire.js') }}"></script>
    <script src="{{ asset('bundles/ortho/js/formulairejQuery.js') }}"></script>
    <script src="{{ asset('bundles/ortho/js/recherchejQuery.js') }}"></script>
    <script src="{{ asset('bundles/ortho/js/triParFamille.js') }}"></script>

    <script>
        // div display-none valable pour tous les ajouts de commentaire
        var comment = $('#appCommentInter');

        // Liste des appareillages | Affichage des commentaires dans le cadre
        var tableauApp = {
        {% for commentaire in commentaireAppareil %}
        {{ commentaire['id'] }} :
        "- {{ commentaire['titreApp'] }} ({{ commentaire['familleApp'] }}) : \n{{ commentaire['commentairesApp'] }}." ,
        {% endfor %}
        };

        var checkboxesApp = $('div#commandes_appareillages input[type=checkbox]');

        checkboxesApp.on('click', function () {
            if ($(this).prop('checked')) {
                comment.append('<div class="commentaireClass" id="commentaireEnfant' + $(this).val() + '">' + tableauApp[$(this).val()] + '</div>');
            }
            else {
                $('#commentaireEnfant' + $(this).val()).remove();
            }

            $('#commandes_comment').html('');

            $('.commentaireClass').each(function () {
                $('#commandes_comment').append($(this).html() + "\n");
            });
        });

        // Liste des adjonctions + Affichage des commentaires dans le cadre
        var tableauAdj = {
        {% for commentaire in commentaireAdjonction %}
        {{ commentaire['id'] }} :
        "- {{ commentaire['titreAdj'] }} ({{ commentaire['familleAdj'] }}) : \n{{ commentaire['commentairesAdj'] }}." ,
        {% endfor %}
        };

        var checkboxesAdj = $('div#commandes_fidAdj input[type=checkbox]');

        checkboxesAdj.on('click', function () {
            if ($(this).prop('checked')) {
                comment.append('<div class="commentaireClass" id="commentaireEnfant' + $(this).val() + '">' + tableauAdj[$(this).val()] + '</div>');
            }
            else {
                $('#commentaireEnfant' + $(this).val()).remove();
            }

            $('#commandes_comment').html('');

            $('.commentaireClass').each(function () {
                $('#commandes_comment').append($(this).html() + "\n");
            });
        });

        // Affichage commentaire PJ dans commentaire principale
        /*
         $('#commandes_comment2').change(function () {
         $('#commandes_comment').val($(this).val());
         });
         */
        $('#commandes_comment2').change(function () {
            comment.append('<div class="commentaireClass" id="commentaireEnfant2' + $(this).val() + '">' + '</div>');

            $('#commandes_comment').html($('#commandes_comment').val() + "- " + $(this).val() + ".");

        });

        // Affichage des images pour Couleurs et Motifs
        var monSelectCouleur = $('#commandes_fidCouleur');
        monSelectCouleur.on('change', function () {
            $('#remplissageCadreCouleur').attr('src', "{{ asset('bundles/ortho/img/couleurs/') }}" + monSelectCouleur.val() + ".png");
        });

        var monSelectMotif = $('#commandes_fidMotif');
        monSelectMotif.on('change', function () {
            $('#remplissageCadreMotif').attr('src', "{{ asset('bundles/ortho/img/motifs/') }}" + monSelectMotif.val() + ".png");
        });

    </script>
{% endblock %}
