{% extends 'base.html.twig' %}

{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% block body %}

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>


 <h3>Cabinet du Dr. Simon . 28510 . Chichoville . ID . 5984</h3>
<form action="{{ path('ortho_formulaire') }}" method="post">
{{ form_start(form) }}

    <label for="referencePatient">Référence du patient :</label>
    {{ form_errors(form.referencePatient) }}
    {{ form_widget(form.referencePatient) }}
    <br />

    <label for="fnomPatient">Prénom du patient :</label>
    {{ form_errors(form.prenomPatient) }}
    {{ form_widget(form.prenomPatient) }}
    <br />

    <label for="dateretour">Date de retour souhaitée :</label>
    {{ form_errors(form.dateretour) }}
    {{ form_widget(form.dateretour) }}
    <br />

    <label for="fidApp">Appareillages :</label>
    {{ form_errors(form.appareillages) }}
    {{ form_widget(form.appareillages) }}
    <br />

    <label for="fidAdj">Adjonctions :</label>
    {{ form_errors(form.fidAdj) }}
    {{ form_widget(form.fidAdj) }}
    <br />

    <label for="nomCouleur">Couleur :</label>
    {{ form_errors(form.fidCouleur) }}
    {{ form_widget(form.fidCouleur) }}

    <img id="remplissageCadreCouleur" src="{{ asset('bundles/ortho/img/couleurs/1.png') }}" />

    <br />

    <label for="nomMotif">Motif :</label>
    {{ form_errors(form.fidMotif) }}
    {{ form_widget(form.fidMotif) }}

    <img id="remplissageCadreMotif" src="{{ asset('bundles/ortho/img/motifs/1.png') }}" />
    <br />

    <label for="comment">Commentaires :</label>
    {{ form_errors(form.comment) }}
    {{ form_widget(form.comment) }}

    <button class="btn" type="submit"><span class="glyphicon glyphicon-envelope"></span>ENVOYER</button>

        <tbody>
        {% for entity in entity %}
            <tr>
                <td><a href="{{ path('uploads_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('uploads_show', { 'id': entity.id }) }}"><i class="icon-book"></i>Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('uploads_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i>Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    <ul>
        <li>
            <a href="{{ path('uploads_new') }}">Insérer une image</a>
        </li>
    </ul>
    {{ form_end(form) }}

    <script>
        var monSelectCouleur = $('#commandes_fidCouleur');
        monSelectCouleur.on('change', function() {
            $('#remplissageCadreCouleur').attr('src', "{{ asset('bundles/ortho/img/couleurs/') }}" + monSelectCouleur.val() + ".png");
        });
    </script>

    <script>
        var monSelectMotif = $('#commandes_fidMotif');
        monSelectMotif.on('change', function() {
            $('#remplissageCadreMotif').attr('src', "{{ asset('bundles/ortho/img/motifs/') }}" + monSelectMotif.val() + ".png");
        })
    </script>
{% endblock %}

{% block javascripts %}
    <script>
        //$("#commandes_fidApp").click(
        document.getElementById('commandes_fidApp').addEventListener('click', function() {
            var id_app = this.options[this.selectedIndex].value;
            console.log(id_app);
        });
    </script>
    <script src="{{ asset('bundles/ortho/js/bootstrap.min.js') }}"></script>
{% endblock %}