{% extends 'base.html.twig' %}

{% block body %}

    <h3>Cabinet du Dr. Simon . 28510 . Chichoville . ID . 5984</h3>

    <form action="{{ path('ortho_formulaire') }}" method="post">
        {{ form_start(form) }}
        <div id="formupload">
            <div id="formulairecde">
                <label for="referencePatient">
                    Référence du patient :
                </label>
                {{ form_errors(form.referencePatient) }}
                {{ form_widget(form.referencePatient) }}
                <br/>
                <br>

                <label for="fnomPatient">
                    Prénom du patient :
                </label>
                {{ form_errors(form.prenomPatient) }}
                {{ form_widget(form.prenomPatient) }}
                <br />
                <br />

                <label for="dateretour">
                    Date de retour souhaitée :
                </label>
                {{ form_errors(form.dateretour) }}
                {{ form_widget(form.dateretour) }}
                <br>

                <label for="fidApp">Appareillages :
                </label>
                <div>
                    <button class="btn" type="button" data-toggle="modal" data-target="#myModal">Bibliothèque</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Selectionnez le modèle d'appareil</h4>
                            </div>
                            <div class="modal-body">
                                Liste des appareillages par familles : <br />
                                <ul>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Mobile</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Fixe</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Fonctionnels</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Contention</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Service 3D</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Moulage</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Elastodontie</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Pédodontie</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Collage Indirect</li></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Autres</li></a>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Selectionnez le modèle d'appareil</h4>
                            </div>
                            <div class="modal-body">
                                Liste des appareillages par familles : <br />
                             fhntyik
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>


                <label for="fidAdj">Adjonctions :</label>
                {{ form_errors(form.fidAdj) }}
                {{ form_widget(form.fidAdj) }}

                {{ form_widget(form.ajoutAdj) }}

                <div id="coulmot">
                    <label for="nomCouleur">
                        Couleur :
                    </label>
                    {{ form_errors(form.fidCouleur) }}
                    {{ form_widget(form.fidCouleur) }}

                    <img id="remplissageCadreCouleur" src="{{ asset('bundles/ortho/img/couleurs/1.png') }}"/>


                    <label for="nomMotif" >
                        Motif :
                    </label>
                    {{ form_errors(form.fidMotif) }}
                    {{ form_widget(form.fidMotif) }}

                    <img id="remplissageCadreMotif" src="{{ asset('bundles/ortho/img/motifs/1.png') }}" />
                    <br />
                </div>

                <label for="comment">Commentaires :</label>
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
            </div>
            <div id="upload">
                <br/>
                <label for="testimage">Arcade maxilaire:</label>
                {{ form_errors(form.testimage) }}
                {{ form_widget(form.testimage) }}

                <label for="testimage1">Arcade mandibulaire:</label>
                {{ form_errors(form.testimage1) }}
                {{ form_widget(form.testimage1) }}

                <label for="testimage2">Autre pièce jointe:</label>
                {{ form_errors(form.testimage2) }}
                {{ form_widget(form.testimage2) }}

                <label for="comment2">Autres commentaires :</label>
                <br/>
                {{ form_errors(form.comment2) }}
                {{ form_widget(form.comment2) }}
            </div>
        </div>

        <br/><br/><br/><br/><br/>

        <div id="boutoncde">
            <button class="btn" type="submit">
                <span class="glyphicon glyphicon-envelope"></span>ENVOYER
            </button>
        </div>

        <!-- Attribut "render_rest:" false utilisée pour ne pas afficher les champs non utilisés. -->
        {{ form_end(form, {'render_rest': false}) }}

    </form>


    <!-- PARTIE SCRIPT -->
    <script src="{{ asset('bundles/ortho/js/bootstrap.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

{#
    <script>


        $(function () {
            $("select[name=commandes_fidCouleur]").on("change", onChange);
            $("select[name=commandes_fidCouleur]").on("focus", function() {
                $(this).popover('destroy')
            });
        });

        function onChange() {
            var $this = $(this);
            $('#commandes_fidCouleur').popover('destroy');
            $("#commandes_fidCouleur").popover({
                trigger: 'manual',
                placement: 'right',
                content: $this.children('option:selected').attr("src", "{{ asset('bundles/ortho/img/motifs/') }}" + monSelectMotif.val() + ".png")
            }).popover('toogle');
            $this.blur();
        }
    </script>
#}


{% endblock %}

{% block javascripts %}


    <script>
        var monSelectCouleur = $('#commandes_fidCouleur');
        monSelectCouleur.on('change', function () {
            $('#remplissageCadreCouleur').attr('src', "{{ asset('bundles/ortho/img/couleurs/') }}" + monSelectCouleur.val() + ".png");
        });
    </script>

    <script>
        var monSelectMotif = $('#commandes_fidMotif');
        monSelectMotif.on('change', function () {
            $('#remplissageCadreMotif').attr('src', "{{ asset('bundles/ortho/img/motifs/') }}" + monSelectMotif.val() + ".png");
        })
    </script>
    <script>
        $("form input.date").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay:1
        }).attr("readonly","readonly");</script>

    <!-- FIN PARTIE SCRIPT -->

{% endblock %}