{% extends 'base.html.twig' %}


{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% block body %}

 <h3>Cabinet du Dr. Simon . 28510 . Chichoville . ID . 5984</h3>
<form action="{{ path('ortho_formulaire') }}"method="post">
{{ form_start(form) }}

    <span><label for="referencePatient">Référence du patient [Nom ou ID] :</label>   </span>
    {{ form_errors(form.referencePatient) }}
    {{ form_widget(form.referencePatient) }}
    <br />

    <label for="fnomPatient">Prénom du patient :</label>
    {{ form_errors(form.prenomPatient) }}
    {{ form_widget(form.prenomPatient) }}
    <br />

    <label for="dateretour">Date de retour souhaitée :</label>
    {{ form_errors(form.dateretour) }}
    {{ form_widget(form.dateretour) }}
    <br />

    <label for="fidApp">Appareillages :</label>
    {{ form_errors(form.fidApp) }}
    {{ form_widget(form.fidApp) }}
    <br />

    <label for="fidAdj">Adjonctions :</label>
    &nbsp;{{ form_errors(form.fidAdj) }}
    {{ form_widget(form.fidAdj) }}
    <br />

    <label for="nomCouleur">Couleur :</label>
    {{ form_errors(form.fidCouleur) }}
    {{ form_widget(form.fidCouleur) }}

    &nbsp;<label for="nomMotif">Motif :</label>
    {{ form_errors(form.fidMotif) }}
    {{ form_widget(form.fidMotif) }}
    <br />

    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-envelope" style="color:#4f4;"></span> ENVOYER !</button>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

{% endblock %}






