{% extends 'base.html.twig' %}


{% block body %}

    <h2>Votre formulaire a bien été envoyé !</h2>

    <h3>Cabinet du Dr. Simon . 28510 . Chicoville . ID 5894</h3>

    {{ affichagerecap ? affichagerecap.referencePatient }}
    {{ affichagerecap ? affichagerecap.prenomPatient }}
    {{ affichagerecap ? affichagerecap.dateretour|date('Y-m-d') }}

    {{ affichagerecap ? affichagerecap.fidCouleur }}
    {{ affichagerecap ? affichagerecap.fidMotif }}
    {{ affichagerecap ? affichagerecap.comment}}


{% endblock %}