{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <form id="msform">
        {{ form_start(form) }}
        <fieldset class="largebloc">
            <div id="container">
                <div class="profileplace">
                    {{ form_label(form.username) }} <!-- Affiche le label -->
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}

                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}

                    {{ form_label(form.current_password) }}
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password) }}
                </div>

                <div class="profileplace">
                    <p><strong>Adresse de livraison</strong></p>
                    {{ form_label(form.adresseCab) }} <!-- Affiche le label -->
                    {{ form_errors(form.adresseCab) }} <!-- Affiche erreur si champ vide -->
                    {{ form_widget(form.adresseCab) }}

                    {{ form_label(form.codepostalCab) }}
                    {{ form_errors(form.codepostalCab) }}
                    {{ form_widget(form.codepostalCab) }}

                    {{ form_label(form.villeCab) }}
                    {{ form_errors(form.villeCab) }}
                    {{ form_widget(form.villeCab) }}

                    {{ form_label(form.telephoneCab) }}
                    {{ form_errors(form.telephoneCab) }}
                    {{ form_widget(form.telephoneCab) }}
                </div>

                <div class="profileplace">
                    <p><strong>Adresse de facturation</strong></p>
                    {{ form_label(form.adressebisCab) }} <!-- Affiche le label -->
                    {{ form_errors(form.adressebisCab) }} <!-- Affiche erreur si champ vide -->
                    {{ form_widget(form.adressebisCab) }}
                    </br>
                    {{ form_label(form.codepostalbisCab) }}
                    {{ form_errors(form.codepostalbisCab) }}
                    {{ form_widget(form.codepostalbisCab) }}
                    </br>
                    {{ form_label(form.villebisCab) }}
                    {{ form_errors(form.villebisCab) }}
                    {{ form_widget(form.villebisCab) }}
                    </br>
                    {{ form_label(form.telephonebisCab) }}
                    {{ form_errors(form.telephonebisCab) }}
                    {{ form_widget(form.telephonebisCab) }}
                </div>

                <div class="profileplace">
                    <p><strong>Envoi du récapitulatif</strong></p>

                    {{ form_label(form.mailCab) }}
                    {{ form_errors(form.mailCab) }}
                    {{ form_widget(form.mailCab) }}

                    {{ form_label(form.emailbisCab) }}
                    {{ form_errors(form.emailbisCab) }}
                    {{ form_widget(form.emailbisCab) }}

                    {{ form_label(form.emailterCab) }}
                    {{ form_errors(form.emailterCab) }}
                    {{ form_widget(form.emailterCab) }}
                </div>
            </div>

            <div><input class="action-button" type="submit" value="{{ 'profile.edit.submit'|trans }}"/></div>

        </fieldset>
    </form>
    {{ form_end(form) }}

{% endblock %}
{% block javascript %}{% endblock %}
