{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="msform">
        <fieldset>
            <div class="id_mdp_User">
                <span>ID : {{ user.id }}</span>
            </div>
            <div id="container">
                <div class="profileplace">
                    <p><strong>Utilisateur</strong></p>
                    <p>Identifiant <span class="affichageCadreProfil"> {{ user.username }}</span> </p>
                    <p>Email 1 <span class="affichageCadreProfil">{{ user.email }}</span> </p>
                    <p>Email 2 <span class="affichageCadreProfil">{{ user.mailbis }}</span> </p>
                </div>

                <br />

                <div class="profileplace">
                    <p><strong>Adresse de livraison</strong></p>
                    <p>Adresse <span class="affichageCadreProfil"> {{ user.adresse }}</span></p>
                    <p>Code Postal <span class="affichageCadreProfil"> {{ user.codepostal }}</span></p>
                    <p>ville <span class="affichageCadreProfil">{{ user.ville }}</span></p>
                    <p>Téléphone <span class="affichageCadreProfil">{{ user.telephone }}</span></p>
                </div>

                <br />

                <div class="profileplace">
                    <p><strong>Adresse de facturation</strong></p>
                    <p>Adresse <span class="affichageCadreProfil"> {{ user.adresseFacturation }}</span></p>
                    <p>Code Postal <span class="affichageCadreProfil"> {{ user.codePostalFacturation }}</span></p>
                    <p>ville <span class="affichageCadreProfil">{{ user.villeFacturation }}</span></p>
                    <p>Téléphone <span class="affichageCadreProfil">{{ user.telephoneFacturation }}</span></p>

                </div>

                <br />

                <div class="profileplace">
                    <h4>Envoi du récapitulatif</h4>
                    <br/>
                    <p>Mail 1 <span class="affichageCadreProfil">{{ user.email }}</span></p>
                    <p>Mail 2<span class="affichageCadreProfil">{{ user.mailbis }}</span></p>
                    <p>Mail 3<span class="affichageCadreProfil">{{ user.mailter }}</span></p>
                </div>

                <br/>
            </div>
            <a href="{{ path('fos_user_profile_edit') }}">
                <input style="width: initial" class="action-button" type="button" value="Modifier mes informations" />
            </a>
        </fieldset>
    </div>
{% endblock %}
