{# @OrthoBundle/Resources/views/Default/crea_cabinet.html.twig #}
{% extends 'base.html.twig' %}

    {% block li %}
        {#
        si besoin d'un onglet particulier dans nav
        <li><a href="" target="_blank"></a></li>
        #}
    {% endblock %}

{% block body %}
    <div id="msform">
        {{ form_start(form) }}
        <fieldset class="smallbloc">

            <div class="creaplace">
                {{ form_label(form.titreAdj) }} <!-- Affiche le label -->
                {{ form_errors(form.titreAdj) }}
                {{ form_widget(form.titreAdj) }}

                {{ form_label(form.familleAdj) }}
                {{ form_errors(form.familleAdj) }}
                {{ form_widget(form.familleAdj) }}

                {{ form_label(form.imgAdj) }}
                {{ form_errors(form.imgAdj) }}
                {{ form_widget(form.imgAdj) }}

                {{ form_label(form.commentairesAdj) }}
                {{ form_errors(form.commentairesAdj) }}
                {{ form_widget(form.commentairesAdj) }}

            </div>


            <div>
                <input type="submit" name="previous" class="action-button" value="ENVOYER"/>
            </div>

        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}