{% extends 'base.html.twig' %}

{% block body %}
    <div id="msform">
    <fieldset class="smallbloc">
    <h2>Modifier Adjonction : {{ adjonctions.id }}  {{ adjonctions.nom }}</h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
           <a href="{{ path('liste_adj') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </fieldset>
        </div>
{% endblock %}
