{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adjonctions</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ adjonctions.id }}</td>
        </tr>


    <ul>
        <li>
            <a href="{{ path('liste_adj') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('edit_adj', { 'id': adjonctions.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}