{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adjonctions</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ adjonctions.id }}</td>
        </tr>
    </table>

    <ul>
        <li>
            <a href="{{ path('liste_adj') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('edit_adj', { 'id': adjonctions.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
