{% extends 'base.html.twig' %}
{% block body %}
        <div id="msform">
            {% if app.user %} <!-- L'utilisateur est connecté -->
                <fieldset class="largebloc">
                    <h2 class="fs-title">Liste des adjonctions</h2>

                {% for adjonction in adjonctions %}

                    <a id="liste"
                       href="{{ path('fiche_adj', { 'id': adjonction.id }) }}">{{ adjonction.id }}  {{ adjonction.nom }}</a>
                    <br/>
                    <a id="lienedit" href="{{ path('fiche_adj', { 'id': adjonction.id }) }}">Voir</a> &nbsp;
                    <a id="lienedit" href="{{ path('edit_adj', { 'id': adjonction.id }) }}">Editer</a>
                    <br/>

                {% endfor %}


                </fieldset>
            {% else %} <!-- L'utilisateur n'est pas connecté -->
                <fieldset class="smallbloc">
                    Connectez-vous pour accéder à cette page.
                </fieldset>
            {% endif %}
        </div>
{% endblock %}