<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Néo 3D | Orthodontics{% endblock %}</title>
        {% block stylesheets %}
            <!-- Appel des bibliothèques Bootstrap -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ortho/css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ortho/css/bootstrap-theme.css') }}" />
            <!-- Appel de nos feuilles de style CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ortho/css/stylesheet.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar_homepage">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">

                        <li class="..." {% if active_links.link1 is defined %} active{% endif %}>

                        <li><a href="{{ path('ortho_homepage') }}">Accueil</a></li>

                        <li class="active"> <a href="{{ path('ortho_formulaire') }}">Formulaire</a> </li>
                        <li> <a href="#">Site du labo</a> </li>
                        <li> <a href="{{ path('envoi_bdd') }}">Récap</a> </li>
                        <li> <a href="#">Lien 3</a> </li>
                        <li> <a href="#">Lien 4</a> </li>
                        <li> <a href="#">Lien 5</a> </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>