{% extends 'base.html.twig' %}

{% block body %}
    <h1>Uploads</h1>

    <table>
        <tbody>

        <img src = "{{ app.request.basepath  }}/uploads/{{ entity.photos }}">
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ entity.photos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('uploads_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('uploads_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
