{# @OrthoBundle/Resources/views/Default/fiche_cabinet.html.twig #}
{% extends 'base.html.twig' %}

    {% block li %}
        {#
        si besoin d'un onglet particulier dans nav
        <li><a href="" target="_blank"></a></li>
        #}
    {% endblock %}

{% block body %}
    {# {{ dump(affichagefiche) }} #}
    <div id="msform">
        {% if app.user %}
            <!-- user is logged in -->

            <fieldset class="largebloc">
                <img class="coche_vert" src="{{ asset('bundles/ortho/img/coche_vert.png') }}"/>
                <h2 class="fs-title">Ce cabinet a bien été ajouté.</h2>
                <h3 class="fs-subtitle"><span>Cabinet : <br></span>{{ cabinets ? cabinets.nom }}</h3>

                <div id="container">
                    <div class="profileplace">
                        <span>Identifiant : </span>{{ cabinets ? cabinets.username }}
                        <span>Nom complet : <br></span>{{ cabinets ? cabinets.nom }}
                        <span>E-mail : </span>{{ cabinets ? cabinets.email }}

                    </div>
                    <div class="profileplace">
                        <span>Adresse : <br></span>{{ cabinets ? cabinets.adresse }}
                        {{ cabinets ? cabinets.codePostal }}
                            &nbsp;{{ cabinets ? cabinets.ville }}
                        <span>Téléphone : </span>{{ cabinets ? cabinets.telephone }}
                    </div>
                    <div class="profileplace">
                        <h5>Lieu de facturation :</h5>
                        <span>Adresse : {{ cabinets ? cabinets.adresseFacturation }}</span>
                        <span>Code Postal : {{ cabinets ? cabinets.codePostalFacturation }}</span>
                        <span>Ville : {{ cabinets ? cabinets.villeFacturation }}</span>
                        <span>Téléphone : {{ cabinets ? cabinets.telephoneFacturation }}</span>
                    </div>
                    <div class="profileplace">
                        <span>Mail 2 : {{ cabinets ? cabinets.mailBis }}</span>
                        <span>Mail 3 : {{ cabinets ? cabinets.mailTer }}</span>
                    </div>
                </div>
                <div class="envoi_email_recapitulatif">
                    <a id="lien_nouveau_formulaire" class="action-button" href="{{ path('crea_cabinet') }}">Nouveau
                        cabinet</a>
                </div>


            </fieldset>
        {% else %}
            <!-- user is not logged in -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>

        {% endif %}
    </div>

{% endblock %}
{% block javascript %}{% endblock %}
