{% extends 'base.html.twig' %}
{% block body %}
    <form id="msform" action="{{ path('crea_labo') }}" method="post">
        {% if app.user %} <!-- Si l'utilisateur est connecté -->
            {{ form_start(form) }}
                <fieldset class="largebloc">
                    <h2 class="fs-title">Ajouter un Laboratoire</h2>
                    <h3 class="fs-subtitle">Tous les champs sont obligatoires.</h3>
                    <div id="container">
                        <div class="profileplace">
                            {{ form_label(form.username) }}
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username) }}

                            {{ form_label(form.plain_password) }}
                            {{ form_errors(form.plain_password) }}
                            {{ form_widget(form.plain_password) }}

                            {{ form_label(form.nom) }}
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom) }}

                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="profileplace">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                    <input type="submit" name="previous" class="action-button" value="ENVOYER"/>
                </fieldset>
            {{ form_end(form) }}
        {% else %}
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>
        {% endif %}
    </form>
{% endblock %}
