{% extends 'base.html.twig' %}

{% block body %}
    <div id="msform">
        {% if app.user %} <!-- L'utilisateur est connecté -->
            <fieldset class="largebloc">
                <img class="coche_vert" src="{{ asset('bundles/ortho/img/coche_vert.png') }}"/>
                <h2 class="fs-title">Ce laboratoire a bien été ajouté.</h2>
                <h3 class="fs-subtitle"><span>Laboratoire : </span>{{ laboratoires ? laboratoires.nom }}</h3>
                <div id="container">
                    <div class="profileplace">
                        <span>Identifiant : {{ laboratoires ? laboratoires.username }}</span> <br />
                        <span>Nom complet : <br>{{ laboratoires ? laboratoires.nom }}</span> <br />
                        <span>E-mail : {{ laboratoires ? laboratoires.email }}</span>
                    </div>
                    <div class="profileplace">
                        <span>Adresse : <br>{{ laboratoires ? laboratoires.adresse }}
                        {{ laboratoires ? laboratoires.codepostal }}
                            &nbsp;{{ laboratoires ? laboratoires.ville }}</span><br />
                        <span>Téléphone : {{ laboratoires ? laboratoires.telephone }}</span><br />
                        <span>E-mail Labo : {{ laboratoires ? laboratoires.email }}</span>
                    </div>
                    <div class="profileplace">
                        <h4>Facturation :</h4>
                        <span>Adresse : {{ laboratoires ? laboratoires.adresseFacturation }}</span><br />
                        <span>Code Postal : {{ laboratoires ? laboratoires.codePostalFacturation }}</span><br />
                        <span>Ville : {{ laboratoires ? laboratoires.villeFacturation }}</span><br />
                        <span>Téléphone : {{ laboratoires ? laboratoires.telephoneFacturation }}</span>
                    </div>
                    <div class="profileplace">
                        <span>Mail 2 : {{ laboratoires ? laboratoires.mailBis }}</span><br />
                        <span>Mail 3 : {{ laboratoires ? laboratoires.mailTer }}</span>
                    </div>
                </div>
                <div class="envoi_email_recapitulatif">
                    <a id="lien_nouveau_formulaire" class="action-button" href="{{ path('crea_labo') }}">Nouveau laboratoire</a>
                </div>
            </fieldset>
        {% else %} <!-- L'utilisateur n'est pas connecté -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>
        {% endif %}
    </div>
{% endblock %}
