{# @OrthoBundle/Resources/views/Default/fiche_labo.html.twig #}
{% extends 'base.html.twig' %}

    {% block li %}
        {#
        si besoin d'un onglet particulier dans nav
        <li><a href="" target="_blank"></a></li>
        #}
    {% endblock %}

{% block body %}
    <div id="msform">
        {% if app.user %}
            <!-- user is logged in -->

            <fieldset class="largebloc">
                <img class="coche_vert" src="{{ asset('bundles/ortho/img/coche_vert.png') }}"/>
                <h2 class="fs-title">Ce laboratoire a bien été ajouté.</h2>
                <h3 class="fs-subtitle"><span>Laboratoire : <br></span>{{ affichagefiche ? affichagefiche.nomLabo }}
                </h3>

                <div id="container">
                    <div class="profileplace">
                        <div><span>Identifiant : </span>{{ affichagefiche ? affichagefiche.username }}</div>
                        <div><span>Nom complet : <br></span>{{ affichagefiche ? affichagefiche.nomLabo }}</div>
                        <div><span>E-mail : </span>{{ affichagefiche ? affichagefiche.email }}</div>

                    </div>
                    <div class="profileplace">
                        <div><span>Adresse : <br></span>{{ affichagefiche ? affichagefiche.adresseLabo }}</div>
                        <div>{{ affichagefiche ? affichagefiche.codepostalLabo }}
                            &nbsp;{{ affichagefiche ? affichagefiche.villeLabo }}</div>
                        <div><span>Téléphone : </span>{{ affichagefiche ? affichagefiche.telephoneLabo }}</div>
                        <div><span>E-mail Labo : </span>{{ affichagefiche ? affichagefiche.mailLabo }}</div>

                    </div>
                </div>
                <div class="envoi_email_recapitulatif">
                    <a id="lien_nouveau_formulaire" class="action-button" href="{{ path('crea_labo') }}">Nouveau
                        laboratoire</a>
                </div>


            </fieldset>
        {% else %}
            <!-- user is not logged in -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>

        {% endif %}

    </div>

{% endblock %}
{% block javascript %}{% endblock %}